@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body,
html {
  font-family: "Arial";
  font-size: 100%;
  width: auto;
  height: auto;
  color: #ffffff;
  background-color: white;
  overflow-x: hidden;
}

/* Navbar */

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #4e007f;
  font-size: 0.65em;
  z-index: 9999;
  overflow-y: auto;
}

.nav {
  position: relative;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  padding: 30px 10px 10px 10px;
}

.nav ul {
  list-style: none;
}

.nav li {
  position: relative;
  margin: 3.2em 0;
}

.nav a {
  line-height: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35); /* Light gray */
  display: block;
  transition: all ease-out 300ms;
}

.nav a.active {
  color: rgb(255, 255, 255);
}

.nav li:not(.active)::after {
  opacity: 0.2;
}

.nav li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}

.nav li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #5e42a6,
    #b74e91
  ); /* Gradient from purple to pink */
}

/* Welcome Section */
.hero-section {
  background-color: black;
  position: relative;
}

.overlay {
  background-color: black;
  width: 70%;
  padding: 10px 50px 10px 40px;
  z-index: 9999;
  position: absolute;
  opacity: 0.8;
}

.hero-image {
  height: 100vh;
  width: 100%;
  margin: 0px 0px 0px 100px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 57%;
  padding: 50px 20px 50px 20px;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 9998;
}

/* About Section */

.about-section {
  height: 100vh;
  width: 100vw;
  margin: 15 0px 0px 0px;  
  font-family: "Crete Round", serif;
  line-height: 30px;
}

.profile {
  align-items: center;
  border-radius: 0px 90px 0px 90px;
  border: solid 4px black;
  width: 60%;
  height: 45%;
  display: flex;
  margin: 120px 0px 0px 35%;

}

.intro-section {
  border-left: solid 4px ;
}

/* Journey Section */
 .journey-section {
  background-color: rgb(15, 15, 15);
  font-family: "Crete Round", serif; 
  color: #aa54df;
  height: 122vh;
  width: 100vw;
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 0px 300px;
 }

 .journeyOne {
  height: 80%;
  width: 70%;
  margin: 50px 0px 50px 0px;
  border: solid 4px #4e007f;;
  border-radius: 90px 0px 0px 0px;
 }

 .journeyOne-caption {
  margin: 30px 0px 0px 0px;
 }

  .journeyTwo {
  height: 80%;
  width: 80%;
  margin: 50px 0px 50px 0px;
  border: solid 4px #4e007f;;
  border-radius: 0px 0px 90px 0px;
 }

 /* Accenture Section */
.accenture-section {
  font-family: "Crete Round", serif; 
  color: #000000;
  height: 110vh;
  width: 100vw;
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 0px 300px;
}

.accenture-photo {
  height: 80%;
  width: 100%;
  margin: 20px 0px 0px -40px;
  border: solid 4px #000000;;
  border-radius: 25px 25px 25px 25px;
}

.accenture-caption {
  margin: -30px 0px 0px -30px;
}

#accenture {
  color: #4e007f
}

/* Friends Section */

.friends-section {
  font-family: "Crete Round", serif; 
  color: #000000;
  height: 100vh;
  width: 100vw;
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 0px 300px;
}

.friendsOne {
  height: 80%;
  width: 100%;
  margin: 20px 0px 0px -40px;
  border: solid 4px #4e007f;
  border-radius: 25px 25px 25px 25px;
}